<div class='welcome-form-div'>
  <form class='welcome-form'>
    <input id='from' class='welcome-input' type='text' onfocus="if(this.value == 'Start:') { this.value = ''; }" value="Start:" onblur="if(this.value == '') {this.value='Start:';}"></input>
    <input id='to' class='welcome-input' type='text' onfocus="if(this.value == 'End:') { this.value = ''; }" value="End:" onblur="if(this.value == '') {this.value='End:';}"></input>
    <input id='search-term' class='welcome-input' type='text' onfocus="if(this.value == 'Find:') { this.value = ''; }" value="Find:" onblur="(this.value == '') ? this.value='Find:' : this.style='{color: black;}'"></input>
    <button class='welcome-submit'>SEARCH</button>
    <p class='advanced-button'>Advanced</p>
  </form>
</div>