<div class='form-div'>
  <div class='form'>
    <input id="from" class='input' type='text' onfocus="if(this.value == 'Start:') { this.value = ''; }" value="{{result1}}" onblur="if(this.value == '') {this.value='Start:';}"></input>
    <input id="to" class='input' type='text' onfocus="if(this.value == 'End:') { this.value = ''; }" value="{{result2}}" onblur="if(this.value == '') {this.value='End:';}"></input>
    <input id='search-term' class='input' type='text' onfocus="if(this.value == 'Find:') { this.value = ''; }" value="{{{userInput}}}" onblur="(this.value == '') ? this.value='Find:' : this.style='{color: black;}'"></input>
    <button id="submit" class='resubmit'>NEW SEARCH</button>
    <p class='advanced-button'><a href='#results'>Advanced</a></p>
  </form>
</div>